body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #22272e;
}

.textbox {
  width: 13vw;
  padding: 10px;
  margin-bottom: 1vh;
  border: 1px solid #000000;
  background-color: #22272e;
  color: #316dca;
}

.equationtbox {
  width: 13vw;
  height: 1vh;
  padding: 1vw;
  margin-bottom: 0.1vh;
  border: 1px solid #000000;
  background-color: #22272e;
  color: #316dca;
}

#graphHistory {
  width: 13vw;
  height: fit-content;
  resize: none;
  padding: 1vw;
  border: 1px solid #000000;
  background-color: #22272e;
  color: #316dca;
}

#sidebar {
  width: 15vw; /* Define sidebar width */
  height: 100vh; /* Set sidebar height to full viewport */
  border: 1px solid #000000;
  padding: 1vw;
  background-color: #1c2128; /* Adjust sidebar background color */
  color: #fff; /* Set sidebar text color to white */
  position: fixed; /* Fix sidebar position */
  top: 0; /* Position sidebar at the top */
  left: 0; /* Position sidebar at the left */
  z-index: 1;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: none;
}

#main-content {
  padding: 10px;
  overflow-y: scroll; /* Enable scrolling for main content */
  color: #316dca;
}

#graph-container {
  width: 90vw; /* Maintain full width within main content */
  height: 71vh; /* Set height for the graph container */
  border: 1px solid #000000;
  margin: 0 auto;
  background-color: #616161;
}

#graph {
  width: 90vw;
  height: 71vh;
  background-color: #616161;
  image-rendering: pixelated;
}

button {
  padding: 10px 20px;
  background-color: #22272e;
  color: #316dca;
  border: 1px solid #000000;
  cursor: pointer;
}

button:hover {
  background-color: #1c2128;
  color: #316dca;
}

button:active {
  background-color: #1c2128;
  color: #316dca;
}
